

{% extends 'accounts/main.html' %}

{% block content %}

<div class="container p-2">
  <div class="text-right">
    <br>
    <h1 class="shadow-sm p-3 mb-5 bg-white rounded">About</h1>
    <h4 class="text-monospace text-right">
      <p class="">
        This webapp is made with ❤ by
        <a href="https://github.com/Razor11022000" target="_blank"
          >Mithun G</a>
        and
        <a target="_blank"
          >Achutha Sandesh S Chatra</a>
      </p>
      <br>
      <p>It is a part of DBMS Mini Project</p>
    </h4>
  </div>
</div> 

{% endblock %}