{% load static %}

 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">FMS</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <span class="ml-auto" style="color:#fff;">welcome , {{request.user}} 
      {% if request.user.student.gender == "MALE" %}

        <img class="rounded-circle border-light bg-info" src="https://icon-library.net//images/boy-icon-png/boy-icon-png-10.jpg" width="26px" height="26px" /></a>

      {% else %}

        <img class="rounded-circle border-light bg-warning" src="https://img.pngio.com/social-user-woman-avatar-profile-icon-female-profile-png-512_512.png" width="26px" height="26px">

      {% endif %}
    </span>
    <ul class="navbar-nav px-3">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
      </li>
    </ul>
  </nav>
