{% extends 'accounts/main.html' %}

{% block content %}

	<br>

			<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<h2>Payment</h2>
				<br>
				<div class="pl-1"><a class="btn-sm btn-primary" href="{% url 'add_payment' %}">+ Add Payment</a></div>
				<br>
				<div class="card card-body">
					<form method="get">
          					{{myFilter.form}}

        					<button class="btn btn-primary" type="submit">Search</button>
     				</form>
     			</div>

				<div class="card card-body">
					<table id="example" class="table table-striped table-bordered">
						<thead class="thead-light">
    						<tr>
								<th>#</th>
								<th>USN</th>
								<th>Name</th>
								<th>Fee_Type</th>
								<th>Amount_Paid</th>
								<th>mode_of_pay</th>
								<th>status</th>
								<th>Action</th>
							</tr>
  						</thead>
  						<tbody>
						{% for i in payments %}
							<tr>
								<td>{{i.id}}</td>
								<td>{{i.student.usn}}</td>
								<td>{{i.student.name}}</td>
								<td>{{i.fee.name}}</td>
								<td>{{i.amount_paid}}</td>
								<td>{{i.mode_payment}}</td>
								<td>{{i.status}}</td>
								<td><a class="btn-sm btn-success" href="{% url 'update_payment' i.id %}">
									<i class="far fa-edit"></i> Edit</a>
									<span class="pl-2"><a class="btn-sm btn-danger" href="{% url 'delete_payment' i.id %}">
  										<i class="far fa-trash-alt"></i> Delete</a>
  									</span>
  								</td>
							</tr>
						
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	<br>

{% endblock %}