{% extends 'accounts/main.html' %}

{% block content %}

<style>
	#link{
		text-decoration: none;
	}
</style>

	<br>

			<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<h2>Payment</h2>
				<br>
				<div class="pl-1"><a class="btn-sm btn-primary" id="link" href="{% url 'add_payment' %}">+ Add Payment</a></div>
				<br>
				

				<div class="card card-body">
					<table id="example" class="hover stripe">
						<thead>
    						<tr>
								<th>#</th>
								<th>USN</th>
								<th>Name</th>
								<th>Fee_Type</th>
								<th>Amount</th>
								<th>Paid</th>
								<th>mode_of_pay</th>
								<th>status</th>
								<th>Action</th>
							</tr>
  						</thead>
  						<tbody>
						{% for i in payments %}
							<tr>
								<td>{{i.id}}</td>
								<td>{{i.student_id.usn}}</td>
								<td>{{i.student_id.name}}</td>
								<td>{{i.fee_id.name}}</td>
								<td>{{i.fee_id.amount}}</td>
								<td>{{i.amount_paid}}</td>
								<td>{{i.mode_payment}}</td>
								<td>{{i.status}}</td>
								<td><div class="dropdown">
								  <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Action
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								    <a class="dropdown-item" href="{% url 'update_payment' i.id %}">Edit</a>
								    <a class="dropdown-item" href="{% url 'delete_payment' i.id %}">Delete</a>
								  </div>
								</div>
								</td>
								
							</tr>
						
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	<br>

{% endblock %}