<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3" id="total-students">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Students</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3" id="students-paid">
			  	<div class="card-header">
			  		<h5 class="card-title">Students paid</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3" id="left-out">
			  	<div class="card-header">
			  		<h5 class="card-title">To be paid</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>