<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3" id="total-students">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Payments</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3" id="students-paid">
			  	<div class="card-header">
			  		<h5 class="card-title">Payments Recieved</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center mb-3" id="pay-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Payments Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>