{% extends 'accounts/main.html' %}

{% block content %}
  
   
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <br>
  <div class="row">
    <div class="col-md-7">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{request.student.profile_pic}}" class="rounded-circle mx-auto d-block mt-5" width="150px" height="150px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5>Contact Info:</h5>
              <div class="card-body">
                <div>Name: {{student.name}}</div>
                <div>Email: {{student.email}}</div>
                <div>Phone: {{student.phone}}</div>
              </div>
              <div>
                <a class="btn-sm btn-outline-success text-center" style="text-decoration:none;" href="{% url 'update_student' student.id %}">Update Student</a>
                <a class="btn-sm btn-outline-info text-center" style="text-decoration:none;" href="{% url 'create_payment' student.id %}">Add Payment</a>
                <a class="btn-sm btn-outline-info text-center" style="text-decoration:none;" href="{% url 'create_tc' student.id %}">Generate TC</a>
              </div>

              <p class="card-text mt-2"><small class="text-muted">- Last updated {{student.updated_at}} </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-center"><h5>Pending Fees</h5></div>
        <div class="card-body">
          <h5 class="card-title text-center">{{payment_count}}</h5>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <div class="card card-body">

        <form method="get">
            {{myFilter.form}}

          <button class="btn btn-primary" type="submit">Search</button>
        </form>

      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <table class="table table-sm">
          <thead class="table-success">
            <tr>
              <th>Fee Name</th>
              <th>Type</th>
              <th>Date of Payment</th>
              <th>Amount</th>
              <th>Paid</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>

          {% for payment in payments %}

            <tr>
              <td class="font-weight-normal">{{payment.fee_id.name}}</td>
              <td class="font-weight-normal">{{payment.fee_id.category}}</td>
              <td class="font-weight-normal">{{payment.date_created}}</td>
              <td class="font-weight-normal">{{payment.fee_id.amount}}</td>
              <td class="font-weight-normal">{{payment.amount_paid}}</td>
              <td class="font-weight-normal">{{payment.status}}</td>
              <td class="font-weight-normal"><a class="btn btn-sm btn-info" href="{% url 'update_payment' payment.id %}">Edit</a></td>
              <td class="font-weight-normal"><a class="btn btn-sm btn-danger" href="{% url 'delete_payment' payment.id %}">Remove</a></td>
            </tr>

          {% endfor %}

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}